<template>
  <va-navbar color="#ffffff" class="mb-2" style="box-shadow: 0px 3px 6px #00000029">
    <template #left>
      <va-navbar-item>
        <va-image class="flex md6 lg4" src="https://picsum.photos/1500" />
        <img src="/advotics-logo.jpg" width="128" height="82" alt="" />
      </va-navbar-item>
    </template>
    <template #right>
      <va-navbar-item style="color: #c5c5c5">
        <va-avatar size="small" color="#D2D2D2" class="mr-2">
          <va-icon class="material-symbols-outlined">person</va-icon>
        </va-avatar>
        <va-icon class="material-symbols-outlined">logout</va-icon>
      </va-navbar-item>
    </template>
  </va-navbar>
  <aside>
    <div class="sidebar">
      <div style="display: block; margin-left: auto; margin-right: auto; color: #c5c5c5">
        <va-icon class="material-symbols-outlined pt-2 pb-2 ml-4">menu</va-icon>
      </div>
      <div style="background: #d2d2d2">
        <img src="/dashboardicon.png" width="25" height="25" alt="" style="display: block; margin-left: auto; margin-right: auto" class="pt-2 pb-2" />
      </div>
    </div>
  </aside>
  <div class="row">
    <div class="flex md8 pt-3 pl-3">
      <div class="item"><h2 class="display-2">Dashboard</h2></div>
    </div>
    <div class="flex md4 pt-3 pr-3 mb-4">
      <div class="item"><litepie-datepicker v-model="dateValue" :formatter="formatter" separator=" - "></litepie-datepicker></div>
    </div>
  </div>
  <div class="row">
    <div class="flex md12 pl-3 pr-3">
      <div class="greenbar">
        <div style="float: left; font: normal normal 600 20px/13px Source Sans Pro; color: #ffffff" class="mt-3 ml-3">MARKET INSIGHT</div>
        <div style="float: right; color: white" class="mt-2 mr-3">
          <div class="row">
            <div class="flex mt-2" style="font-size: 0.8rem; text-decoration: underline">Click Here for Help</div>
            <div class="flex">
              <va-icon class="material-symbols-outlined" size="large">expand_less</va-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="flex md6 lg3 pt-3 pl-3">
      <va-card :bordered="true">
        <div class="row">
          <div class="flex md12 justify-between">
            <div class="pt-2 pl-3">Sales turnover</div>
            <div class="mt-1 mr-3" style="flex: none !important"><img src="/more.png" width="12" height="24" alt="" /></div>
          </div>
        </div>
        <div class="row">
          <div class="flex md9">
            <div class="pt-2 pl-3" style="font-weight: 600; font-size: 1.7rem">Rp 3,600,000</div>
            <br />
          </div>
          <div class="flex md3">
            <div class="mt-1 mr-4" style="flex: none !important"><img src="/sales.png" width="48" height="42" alt="" /></div>
          </div>
          <div class="flex lg8 md8 pl-3">
            <div class="mt-1 mr-1 mb-3" style="flex: none !important; margin-top: 1px">
              <img src="/downarrow.png" width="11" height="11" alt="" />
            </div>
            <div class="mt-1" style="color: red; font-weight: bold">13.8%</div>
            <div style="font-weight: 100; font-size: 0.8rem; margin-top: 5px">Last period in products sold</div>
          </div>
        </div>

        <!-- <va-card-title>Sales Turnover </va-card-title> -->
        <!-- <va-card-content class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</va-card-content> -->
      </va-card>
    </div>
  </div>
  <div class="row">
    <div class="flex lg6 pt-3 pl-3">
      <va-card :bordered="true">
        <div class="row">
          <div class="flex lg12 justify-between">
            <div class="pt-3 pl-3 pb-3" style="font-size: 1.5rem">AVERAGE PURCHASE VALUE</div>
            <div class="pt-3 mr-3 pb-3" style="flex: none !important; margin-top: 1px">
              <div class="float-right">
                <select
                  id="large"
                  class="py-2 px-4 w-1/4 text-base text-gray-900 bg-gray-50 border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option selected>6 Months</option>
                  <option value="8month">8 Months</option>
                  <option value="12month">12 Months</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <apexchart width="690" type="bar" :options="options" :series="series"></apexchart>
      </va-card>
    </div>
    <div class="flex lg3 pt-3 pl-3">
      <va-card :bordered="true">
        <div class="row">
          <div class="flex lg12 justify-between">
            <div class="pt-3 pl-3 pb-3" style="font-size: 1.5rem">BEST SELLING SKU</div>
            <div class="pt-3 mr-3 pb-3" style="flex: none !important; margin-top: 1px">
              <img src="/more.png" width="12" height="24" alt="" />
            </div>
          </div>
        </div>
        <div>
          <va-list>
            <va-list-item v-for="(contact, index) in contacts" :key="index">
              <va-list-item-section avatar>
                <img :src="contact.img" width="80" height="80" />
              </va-list-item-section>

              <va-list-item-section>
                <va-list-item-label>
                  {{ contact.name }}
                </va-list-item-label>

                <va-list-item-label caption>
                  {{ contact.price }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ contact.stock }} pcs sold
                </va-list-item-label>
              </va-list-item-section>
            </va-list-item>
          </va-list>
        </div>
      </va-card>
    </div>
    <div class="flex lg3 pt-3 pr-3 pl-3">
      <va-card :bordered="true">
        <div class="row">
          <div class="flex lg12 justify-between">
            <div class="pt-3 pl-3 pb-3" style="font-size: 1.5rem">TOP COMPETITOR SKU</div>
            <div class="pt-3 mr-3 pb-3" style="flex: none !important; margin-top: 1px">
              <img src="/more.png" width="12" height="24" alt="" />
            </div>
          </div>
          <va-list>
            <va-list-item v-for="(contact, index) in contacts2" :key="index">
              <va-list-item-section avatar>
                <img :src="contact.img" width="80" height="80" />
              </va-list-item-section>

              <va-list-item-section>
                <va-list-item-label>
                  {{ contact.name }}
                </va-list-item-label>

                <va-list-item-label caption>
                  {{ contact.price }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ contact.stock }} pcs sold
                </va-list-item-label>
              </va-list-item-section>
            </va-list-item>
          </va-list>
        </div>
      </va-card>
    </div>
  </div>

  <!-- </main> -->
</template>

<script>
// import VueApexCharts from "vue-apexcharts"
import { ref, watch } from "vue"
import dayjs from "dayjs"
export default {
  setup() {
    const date = new Date()
    date.setDate(date.getDate() - 7)
    console.log()
    const dateValue = ref({
      startDate: dayjs(date).format("DD MMMM YYYY"),
      endDate: dayjs(new Date()).format("DD MMMM YYYY")
    })
    const formatter = ref({
      date: "DD MMMM YYYY",
      month: "MMMM"
    })
    const minimized = true

    let options = {
      chart: {
        type: "bar",
        height: 350,
        stacked: true,
        toolbar: {
          show: true
        },
        zoom: {
          enabled: true
        }
      },
      responsive: [
        {
          breakpoint: 480,
          options: {
            legend: {
              position: "bottom",
              offsetX: -10,
              offsetY: 0
            }
          }
        }
      ],
      plotOptions: {
        bar: {
          horizontal: false,
          borderRadius: 10
        }
      },
      xaxis: {
        type: "date",
        categories: ["06/01/2022 GMT", "06/02/2022 GMT", "06/03/2022 GMT", "06/04/2022 GMT", "06/05/2022 GMT", "06/06/2022 GMT", "06/07/2022 GMT"]
      },
      legend: {
        position: "right",
        offsetY: 40
      },
      fill: {
        opacity: 1
      },
      colors: ["#289E45", "#37B04C", "#6BE681", "#707070"],
      tooltip: {
        x: {
          show: true,
          format: "dd/MMMM/yyyy"
        }
      }
    }
    const series = [
      {
        name: "Gross",
        data: [21000, 20000, 22000, 28000, 30000, 35000, 40000]
      },
      {
        name: "Nett",
        data: [19000, 20000, 21000, 22000, 25000, 30000, 35000]
      },
      {
        name: "APV",
        data: [17000, 16000, 18000, 20000, 24000, 25000, 30000]
      },
      {
        name: "UPT",
        data: [7.8, 7, 8, 9, 10, 11, 12]
      }
    ]
    const items = [
      { title: "Dashboard", icon: "dashboard", active: true },
      { title: "Sidebar demo", icon: "room" },
      { title: "Loop", icon: "loop" }
    ]
    const contacts = [
      { name: "Danone 1", price: "Rp 5,000", stock: "60", img: "/products.jpg" },
      { name: "Danone 2", price: "Rp 5,000", stock: "50", img: "/products.jpg" },
      { name: "Danone 3", price: "Rp 5,000", stock: "40", img: "/products.jpg" },
      { name: "Danone 4", price: "Rp 5,000", stock: "30", img: "/products.jpg" }
    ]
    const contacts2 = [
      { name: "Danone 1", price: "Rp 6,000", stock: "40", img: "/competitor.png" },
      { name: "Danone 2", price: "Rp 6,000", stock: "30", img: "/competitor.png" },
      { name: "Danone 3", price: "Rp 6,000", stock: "20", img: "/competitor.png" },
      { name: "Danone 4", price: "Rp 6,000", stock: "10", img: "/competitor.png" }
    ]
    const optionsSelect = ["6 Months", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    const valueSelect = "6 Months"
    watch(dateValue, (currentState, prevState) => {
      console.log("current", currentState.startDate, currentState.endDate)
      let a = options.xaxis.categories.filter((item) => item >= currentState.startDate && item <= currentState.endDate)
      console.log("filtered", a)
    })
    return {
      dateValue,
      formatter,
      minimized,
      items,
      options,
      series,
      optionsSelect,
      valueSelect,
      contacts,
      contacts2
    }
  }
}
</script>
<style>
body {
  background: #f7f7f7;
}
.va-sidebar .va-collapse__body {
  margin-top: 0 !important;
}
.sidebar {
  border: #d2d2d2;
  background: #ffffff;
  height: 100vh;
  width: 72px;
  float: left;
  margin-top: -8px;
}
.greenbar {
  background: #37b04c;
  display: inline-block;
  width: 100%;
  height: 48px;
}
.va-list-item {
  border: 0.5px solid #c5c5c59c;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/* @import "./assets/base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }
} */
</style>
